//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 30 12:56:19 2024
//! **************************************************************************

SCHEMATIC START;
COMP "btn_south" LOCATE = SITE "K17" LEVEL 1;
COMP "SDA" LOCATE = SITE "F8" LEVEL 1;
COMP "SCL" LOCATE = SITE "E8" LEVEL 1;
COMP "Clk_50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "LED0" LOCATE = SITE "F12" LEVEL 1;
COMP "LED7" LOCATE = SITE "F9" LEVEL 1;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "Clk_50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

