//! **************************************************************************
// Written by: Map P.20131013 on Fri May 17 12:54:24 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SDA" LOCATE = SITE "F8" LEVEL 1;
COMP "SCL" LOCATE = SITE "E8" LEVEL 1;
COMP "Clk_50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "btn_south" LOCATE = SITE "K17" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "btn_east" LOCATE = SITE "H13" LEVEL 1;
COMP "PS2_Data" LOCATE = SITE "G13" LEVEL 1;
COMP "PS2_Clk" LOCATE = SITE "G14" LEVEL 1;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "Clk_50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

